nav {
  background-color: black;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
nav a {
  font-size: 20px;
  color: aqua;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: auto;
    background-color: red;
  }
}
#elozo,
#kovetkezo {
  position: absolute;
  top: 50%;
  transform: translateY(-50);
  color: white;
  padding: 10px;
  cursor: pointer;
}
#elozo {
  left: 0;
}
#kovetkezo {
  right: 0;
}
#vissza {
}
