body {
  margin: 0;
}
.padding {
  padding: 10px;
}
nav {
  background-color: #100c08;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-top: 0;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}
nav a {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #ff6901;
}
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: auto;
    background-color: rgb(0, 0, 0);
  }  
}
.nagykep {
  height: 600px;
}
.nagykep {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.galleria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.galleria img {
  width: 185px;
  height: auto;
  height: 150px;
  border: solid black;
  border-radius: 3px;
}


